tr {
  border-bottom: 2px solid rgba(97, 96, 99, 0.1);
}

.tbody > .tr > .heading {
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(61, 78, 101, 0.84);
  font-size: 2.14375rem;
  padding: 20px;
  border-bottom: 0.5px solid rgb(219, 219, 219);
}

td {
  padding: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

td.heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}

.editable-cell {
  display: flex;
  gap: 8px;
}

.editable-cell .btn {
  display: none;
}

.editable-cell:hover .btn {
  display: block;
}
