.create-scene-main-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.create-scene-main-wrapper > .title-container {
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(61, 78, 101, 0.84);
  font-size: 2.34375rem;
  padding: 20px;
  /* font-family: Roboto, sans-serif; */
}

.form-wrapper {
  border-top: 1px solid #efefef;
  padding: 1rem;
}

.form-wrapper > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
}

.scene-embed-type {
  display: flex;
  gap: 2rem;
}

.embed-type-radio {
  display: flex;
  list-style: none;
  gap: 0.75rem;
  justify-content: flex-start;
}

.form-wrapper > form > input,
.file-label {
  /* height: calc(1.5em + .75rem + 2px); */
  height: 3rem;
  width: 100%;
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select {
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.footer-btn-container {
  display: flex;
  justify-content: space-between;
}

.footer-btn-container > .submit-btn {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  background-color: #299aff;
  border: 1px solid transparent;
  border-color: #299aff;
  box-shadow: none;
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.footer-btn-container > .submit-btn:hover {
  color: #fff;
  background-color: #0388ff;
  border-color: #0081f5;
}

.footer-btn-container > .preview-btn {
  color: #fff;
  cursor: pointer;
  background-color: #ffc108;
  border: 1px solid transparent;
  font-weight: 600;
  border-color: #ffc108;
  text-align: center;
  box-shadow: none;
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-wrapper > form > p {
  font-style: italic;
  font-size: 85%;
  margin-top: 0;
  margin-bottom: 1rem;
}

.unity-scene-list-wrapper {
  position: relative;
  z-index: 0;
}

.unity-scene-list-wrapper > input {
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #efefef;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 98%;
  cursor: pointer;
}

.icon {
  position: absolute;
  right: 1rem;
  top: 10px;
  align-items: center;
}

.embed-type-radio > li > label > input {
  margin-right: 0.5rem;
}

.form-wrapper > form > label,
.embed-type-radio > li > label {
  font-size: 0.725rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(147, 159, 173, 0.84);
  line-height: 0.9375rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
