.add-btn {
  margin: 0.5rem 0.25rem;
  color: #38a1ff;
  background: none;
  border: 1px solid #38a1ff;
  padding: 0.375rem 0.875rem;
  font-size: 0.875rem;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  width: max-content;
}

.add-btn:hover {
  color: #fff;
  background-color: var(--button-hover-bg);
  border-color: var(--button-border-hover-color);
}

table > thead > tr > td {
  font-size: 1rem;
  font-weight: 700;
  color: rgba(55, 77, 103, 0.54);
  padding: 0.35rem 1rem;
}

table > tbody > tr > td {
  font-size: 0.9rem;
  font-weight: 550;
  color: #4a4a4a;
}
