.wrapper {
  width: 500px;
  height: 400px;
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  /* border: 1px solid hotpink; */
}

.title-container .title {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.015em;
  color: #000000;
}

.modal picture > * {
  height: 5rem;
  color: #ff6969;
}

.overlay {
  /* border: 1px solid green; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.title-container .subtitle {
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #202020;
}

.modal {
  /* border: 1px solid red; */
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.btn-container {
  display: flex;
  width: 25rem;
  justify-content: space-between;
  margin-top: 9rem;
}

.done {
  padding: 10px 18px;
  background: #299aff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.cancel {
  padding: 8px 25px;
  background: #ffffff;
  border-radius: 4px;
  /* font-family: "Roboto"; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 375px) {
  .wrapper {
    width: 90%;
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    margin: 1rem;
    display: block;
    /* border: 1px solid hotpink; */
  }

  .btn-container {
    /* border: 1px solid red; */
    display: flex;
    width: auto;
    gap: 2rem;
    margin-top: 2rem;
  }
}
