/* main wrapper of the sector layout */
.sector-layout-main-section {
  margin: auto;
  width: 100%;
  padding: 0.5rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  top: 6rem;
  overflow-y: auto;
}

/* sidepanel main container in sector layout */
.side-panel {
  background: linear-gradient(
    to right,
    var(--sidepanel-bg-color-primary),
    var(--sidepanel-bg-color-secondary)
  );
  position: fixed;
  min-width: fit-content;
  width: 30rem;
  left: -100%;
  top: 6rem;
  bottom: 0;
  padding: 1rem;
  overflow: auto;
  transition: all ease 0.8s;
  -webkit-animation: slide-right 0.5s ease-in both;
  animation: slide-right 0.5s ease-in both;
  /* border: 1px solid red; */
}

/* if the open sidepanel is false this class will be added*/
/* .hide-side-panel {
  display: none;
  transition: right 0.5s ease-in-out;
  -webkit-animation: slide-right 0.5s ease-in both;
  animation: slide-right 0.5s ease-in both;
} */

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* card container outside the sidepanel */
.sector-layout-card-container {
  margin: auto;
  width: 90%;
  position: absolute;
  left: 4.5rem;
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all ease 0.6s;
}

/* .show class is added only after sidepanel is opened */
.sector-layout-card-container.show {
  left: 27%;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
}

.togglePanel {
  left: 0;
}

/* breakpoint 540 */
@media (max-width: 540px) {
  .sector-layout-card-container {
    left: 2rem;
    width: 85%;
    grid-template-columns: 1fr;
  }

  .side-panel {
    display: none;
  }

  /* while the side panel is collapsed but button is click that opens sidepanel  */
  .sector-layout-card-container.show {
    left: 2rem;
    width: 85%;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  .sector-layout-card-container {
    grid-template-columns: 1fr 1fr;
    left: 1rem;
    width: 95%;
  }

  .side-panel {
    display: none;
  }

  .sector-layout-card-container.show {
    left: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 95%;
  }
}

/* break point 1278 for large desktop */
@media screen and (min-width: 1278px) {
  .sector-layout-card-container.show {
    left: 35%;
    grid-template-columns: 1fr 1fr;
    width: 55%;
  }
}
